.thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.2);*/
    box-shadow: 1px 3px 4px 2px rgb(0 0 0 / 10%);
}
.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.item-price {
    font-size: 14px;
}

    .item-price strike {
        opacity: 0.7;
        margin-right: 5px;
    }

.productImage{
    position : relative;
}