@model Arad.Portal.DataLayer.Models.Shared.CommonViewModel

<div class="row">
    @foreach (var item in Model.Groups)
    {
        <div class="col-6 col-md-3">

            <div class="card m-4 pgCard border-0" >
                <img class="card-img-top rounded" src="@($"../filemanager/getscaledimage?path={item.GroupImage.Url}&height={500}")"  alt="@item.GroupImage.Title">
                <div class="card-body text-center" >
                    <a href="/group/@item.GroupCode" class="btn bg-gradient">
                        <h6 class="card-title">@(item.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLangId) ? 
                            item.MultiLingualProperties.First(_=>_.LanguageId == ViewBag.CurLangId).Name : item.MultiLingualProperties.First().Name)</h6>
                    </a>
                </div>
            </div>

        </div>
    }
</div>
 