@model Arad.Portal.DataLayer.Models.Shared.CommonViewModel

<div class="row">
    @foreach (var item in Model.Groups)
    {
        <div class="col-md-3">

            <div class="card  pgCard" @*style="width: 18rem;"*@>
                <img class="card-img-top rounded-circle" @*src="@Url.Content(item.GroupImage.Url)"*@ src="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" alt="@item.GroupImage.Title">
                <div class="card-body" style="margin: auto;">
                    <a href="/group/@item.GroupCode" class="btn btn-secondary">
                        <h5 class="card-title">@(item.MultiLingualProperties.First(_=>_.LanguageId == ViewBag.CurLangId).Name)</h5>
                    </a>
                </div>
            </div>

        </div>
    }
</div>
