@model string
@{
}
<div class="border-top-0 w-100 m-2">
    <div class="row">
        <div class="col-12">
            <form autocomplete="off" id="searchFrm" asp-controller="Search" asp-action="Index">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtSearch" placeholder="@Language.GetString("btn_Search")" value="@Model" />
                    <button type="submit" class="input-group-text" id="btnSearch">
                        <i class="fas fa-search p-1 m-1"></i>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>