@{
    Layout = null;
}
<html style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>عدم دسترسی</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/DashboardAsset/plugins/font-awesome/css/font-awesome.min.css">
    @*<link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/DashboardAsset/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link href="~/DashboardAsset/plugins/iCheck/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/DashboardAsset/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/DashboardAsset/plugins/datatables/dataTables.bootstrap4.css">
    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/DashboardAsset/dist/css/bootstrap-rtl.min.css">
    <!-- template rtl version -->
    <link rel="stylesheet" href="~/DashboardAsset/dist/css/custom-style.css">
    <link href="~/dashboardAsset/dist/css/loader-double.css" rel="stylesheet" />
    <style>
        .swal2-title {
            font-family: IRANSansWeb;
        }
    </style>
    
</head>
<body  style="height: auto;">
    <div class="wrapper">
     
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-danger">401</h2>

                    <div class="error-content">
                        <h3><i class="fa fa-warning text-danger"></i>  عدم تایید دسترسی.</h3>

                        <p>
                            شما مجوز دسترسی به این صفحه را ندارید. با کلیک روی <a href="@Url.Action("Login","Account")"> این لینک </a>می توانید به صفحه اصلی برگردید..
                        </p>

                       
                    </div>
                </div>
                <!-- /.error-page -->

            </section>
            <!-- /.content -->
        </div>
     

       
   
   
<script src="~/DashboardAsset/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="~/DashboardAsset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Bootstrap WYSIHTML5 -->
<script src="~/DashboardAsset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/DashboardAsset/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
@* <script src="~/DashboardAsset/plugins/fastclick/fastclick.js"></script>*@
<script src="~/DashboardAsset/plugins/iCheck/icheck.js"></script>
<!-- AdminLTE App -->
<script src="~/DashboardAsset/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/DashboardAsset/dist/js/pages/dashboard.js"></script>

</body>
</html>
