@{
    Layout = null;
    string lang = "";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }

    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }
}
<html style="height: auto;" dir="@dir" lang="@lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Language.GetString("AlertAndMessage_Inaccessibility")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @*<link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/DashboardAsset/dist/css/adminlte.min.css">
    
    <link rel="stylesheet" href="~/DashboardAsset/plugins/datatables/dataTables.bootstrap4.css">
   
    <!-- template rtl version -->
    <link rel="stylesheet" href="~/DashboardAsset/dist/css/custom-style.css">
    <link href="~/dashboardAsset/dist/css/loader-double.css" rel="stylesheet" />
    <style>
        .swal2-title {
            font-family: IRANSansWeb;
        }
    </style>

</head>
<body style="height: auto;">
    <div class="wrapper">

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-danger"></i>  پیدا نشد.</h3>

                    <p>
                        صفحه یا آیتمی که درخواست کرده اید پیدا نشد با <a href="@Url.Action("Login","Account")"> این لینک </a>می توانید به صفحه اصلی برگردید..
                    </p>


                </div>
            </div>
            <!-- /.error-page -->

        </section>
        <!-- /.content -->
    </div>





    <script src="~/DashboardAsset/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/DashboardAsset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/DashboardAsset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/DashboardAsset/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    @* <script src="~/DashboardAsset/plugins/fastclick/fastclick.js"></script>*@
    <script src="~/DashboardAsset/plugins/iCheck/icheck.js"></script>
    <!-- AdminLTE App -->
    <script src="~/DashboardAsset/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/DashboardAsset/dist/js/pages/dashboard.js"></script>

</body>
</html>
