@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@{
    Layout = null;
   var dir = HelpersMethods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMethods.GetHtmlLang(CultureInfo.CurrentCulture);
     var baseAdd = Config["BaseAddress"];

}

<!DOCTYPE html>

<html style="height: auto;"  dir="@dir" lang="@lang">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Language.GetString("UnAuthorize")</title>
    <style>
        body {
            background: url(/imgs/401-Error.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body >
<div></div>
</body>
</html>
