@using Arad.Portal.DataLayer.Models.Shared;
@model List<Arad.Portal.DataLayer.Models.Content.ContentGlance>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="list-group">
    @foreach (var item in Model)
    {
         <li class="list-group-item  fifthContent" data-animation="animated @(ViewBag.LoadAnimation)">
             <div class="row">
               
               <div class="col-12 text-center">
                   <a href="@($"/blog/{item.ContentCode}")">
                       <span>@item.Title</span>
                   </a>
               </div>
            </div>
         </li>
    }
</ul>