@using Arad.Portal.DataLayer.Models.Shared;
@model List<Arad.Portal.DataLayer.Models.Content.ContentGlance>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
<link href="~/css/siteTemplate/FifthContentTemplate.css" rel="stylesheet" />
}

<ul class="list-group">
    @foreach (var item in Model)
    {
         <li class="list-group-item  fifthContent">
             <div class="row">
               
               <div class="col-12 text-center">
                   <a href="@($"/blog/{item.ContentCode}")">
                       <span>@item.Title</span>
                   </a>
               </div>
            </div>
         </li>
    }
</ul>