@model string
@{
}
<div class="border-top-0 w-100 m-2">
    <div class="row">
        <div class="col-12">
            <form autocomplete="off" id="searchFrm" asp-controller="Search" asp-action="Index">
                <div class="searchContainer">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtSearch" name="key" placeholder="@Language.GetString("btn_Search")" value="@Model" />
                    <button type="submit" class="input-group-text" id="btnSearch">
                        <i class="fas fa-search p-1 m-1"></i>
                    </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script on-content-loaded="true">
$(document).ready(function() {

    $("#searchFrm").submit(function(e) {
        debugger;
         e.preventDefault();
         var filter = $("#txtSearch").val().trim();
          $.ajax({
            url: $(this).attr('action')+"?key="+filter,
            type: 'Get',
            processData: false,
            contentType: false,
            dataType : "application/json",
            beforeSend: function() {
          /*  AddLoading($("#addUserCard"));*/
            },
            success: function (result)
            {
                debugger;
                    if (result.status === "success")
                    {
                        var div = document.createElement("DIV");
                        $(div).attr("id", "suggestion-list");
                        $(div).attr("class", "suggestion-items");
                        var containerParent = $(this).parent().parent(); 
                        $(containerParent).append(div);
                        var row = "<div class='container'><div class='row'>";
                        if(result.data.length > 0)
                        {
                            for (i = 0; i <= result.data.length; i++) 
                            {
                                for (j = 0; j <= result.data[i].SuggestionPhrases; j++)
                                {
                                    var phrase = result.data[i].SuggestionPhrases[j];
                                    row += `<div class='col suggestItem d-flex justify-content-ceneter align-middle'><strong>${phrase.phrase}</strong><input type='hidden' class='hide' value='${phrase.url}'/></div>`;
                                }
                            }
                        }else 
                        {
                            row += `<div class='d-flex justify-content-center'><p>${result.message}</p></div>`;
                        }
                        row += "</div></div>";  
                        $(div).append(row);
                    }
                    else if (result.status === "error")
                    {
                           
                    }
              }
          });
    });

    $(".suggestItem").click(function() {
        debugger;
        var url = $(this).find("hide").val();
        window.location.href = url;
    });
});
</script>