@using System.Globalization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>تغییر کلمه عبور</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/register.css" rel="stylesheet" />
    <link href="~/fonts/font.css" rel="stylesheet" />
    <link href="~/icon/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/timer/timer.css" rel="stylesheet" />
    <link href="~/lib/otp-digit/otp-digit.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form id="verifyOtp" class="login100-form validate-form flex-sb flex-w" autocomplete="off">
                    <span class="login100-form-title p-b-32" style="color: #b58808;">ZibaZar</span>
                    <span class="login100-form-title p-b-32">
                        کد تاییدیه
                    </span>
                    <label class="error">
                        <span>@ViewBag.Error</span>
                    </label>
                    <div class="form-group digit-group">
                        <label id="desc" for="text">

                        </label>
                        <div class="timer-wrap text-center"><span id="timer" class="timer">00:00</span></div>
                        <div id="desktop-input" class="digit-wrapper" data-group-name="digits" data-autosubmit="true" autocomplete="off">
                            <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                            <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                            <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                            <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                            <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                            <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" />
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" id="mobile-input" style="display: none;">
                        <input id="OtpCode" class="input100" type="text" name="OtpCode" maxlength="6" placeholder="کد اعتبار سنجی">
                    </div>
                    <input id="return" type="hidden" value="@ViewBag.ReturnUrl" />
                    <span class="error-input" data-val-result="OtpCode" style="text-align: center;"></span>
                    <div id="otpSendWrap" class="container-login100-form-btn">

                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/otp-digit/otp-digit.js"></script>
    <script src="~/lib/timer/timer.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            var phone = localStorage.getItem("phone");
            startTimer(180,timer,phone);

            var title = "کد ارسالی به شماره " + phone + "را وارد نمایید. ";
            $("#desc").html(title);

            var w = window.innerWidth;

            if (w <990) {
                var btn = '<button id="submit" class="login100-form-btn">تایید</button>';
                $("#mobile-input").show();
                $("#desktop-input").hide();
            }else {
                $("#desktop-input").show();
                $("#mobile-input").hide();
            }

            $("#otpSendWrap").append(btn);

            $("#verifyOtp").submit(function (e) {
                e.preventDefault();
              
                var code = "";

                if (w < 990) {
                    code = $("#OtpCode").val();
                } else
                {
                    code = $("#digit-1").val() +
                        $("#digit-2").val() +
                        $("#digit-3").val() +
                        $("#digit-4").val() +
                        $("#digit-5").val() +
                        $("#digit-6").val();
                }

                var data = { otpCode: code, returnUrl : $("#return").val() };

                $.ajax({
                    url: "@Url.Action("CheckOtpResetPassword")",
                    type: 'Post',
                    data: data,
                    success: function (result) {
                        var spanErrorList = $('span[data-val-result]');

                        if (spanErrorList.length > 1) {
                            spanErrorList.each(function() {
                                $(this).html("");
                                $(this).parent().removeClass("has-error");
                            });
                        } else {
                            spanErrorList.html("");
                            spanErrorList.parent().removeClass("has-error");
                        }

                        if (result.status === "success") {
                            Swal.fire({
                                type: 'success',
                                title: result.message,
                                confirmButtonText:
                                    '<i class="fa fa-thumbs-up"></i> متوجه شدم!',
                            }).then(function(inputValue) {
                                //window.location.href = "/Product/Index";
                                window.location = result.url;
                            });
                            

                        } else if (result.status === "error") {

                            if (result.modelStateErrors !== null) {

                                result.modelStateErrors.forEach(function (value, index) {
                                    $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                    $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                });

                            }
                        } else if (result.status === "errorUrl") {
                            window.location = result.url;
                        }
                }

            });
            });

            $(document).on("click", "#otpSend", function () {
                var data = {ReturnUrl : ""};
                $.ajax({
                    url: "@Url.Action("SendOtp")",
                    type: 'Get',
                    data: data,
                    success: function (result) {
                        var spanErrorList = $('span[data-val-result]');

                        if (spanErrorList.length > 1) {
                            spanErrorList.each(function() {
                                $(this).html("");
                                $(this).parent().removeClass("has-error");
                            });
                        } else {
                            spanErrorList.html("");
                            spanErrorList.parent().removeClass("has-error");
                        }

                        if (result.status === "success") {

                            window.location = result.url;

                        } else if (result.status === "error") {

                            if (result.modelStateErrors !== null) {

                                result.modelStateErrors.forEach(function (value, index) {
                                    $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                    $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                });

                            }
                        } else if (result.status === "errorUrl") {
                            window.location = result.url;
                        }
                    }

                });
            });

        });
    </script>
</body>
</html>
