@{
    Layout = null;
     var direction = HelpersMothods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMothods.GetHtmlLang(CultureInfo.CurrentCulture);
}
<html style="height: auto;" dir="@direction" lang="@lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Language.GetString("AlertAndMessage_Inaccessibility")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (dir == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body style="height: auto;">
    <div class="wrapper">

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-danger"></i>@Language.GetString("AlertAndMessage_NotFound")</h3>
                </div>
            </div>
            <!-- /.error-page -->

        </section>
        <!-- /.content -->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
</body>
</html>
