@model List<Arad.Portal.DataLayer.Models.ProductGroup.ProductGroupDTO>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">

            <div class="card text-center pgCard" @*style="width: 18rem;"*@>
                <img class="card-img-top rounded" src="@Url.Content(item.GroupImage.Url)" alt="@item.GroupImage.Title">
                <div class="card-body text-center">
                    <a href="/group/@item.GroupCode" class="btn btn-light bg-gradient">
                        <h6 class="card-title">@(item.MultiLingualProperties.FirstOrDefault(_=>_.LanguageId == ViewBag.CurLangId).Name)</h6>
                    </a>
                </div>
            </div>

        </div>
    }
</div>