<!DOCTYPE html>
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    var direction = "";
    var bodyClass = "";
    var ulNavbarLinkClass = "";
    var bellCls = "";
    var faCls = "";
    var floatlr = "";
    var chevron = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        direction = "rtl";
        ViewBag.dir = "rtl";
        bodyClass = "hold-transition sidebar-mini";
        ulNavbarLinkClass = "navbar-nav mr-auto";
        floatlr = "float-sm-left";
        bellCls = "fa fa-bell-o";
        faCls = "fa";
        chevron = "fa fa-chevron-left";

    }
    else
    {
        direction = "ltr";
        ViewBag.dir = "ltr";
        bodyClass = "hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed";
        ulNavbarLinkClass = "navbar-nav ml-auto";
        floatlr = "float-sm-right";
        bellCls = "far fa-bell";
        faCls = "fas";
        chevron = "fa fa-chevron-right";
    }

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (direction == "rtl")
    {
        <link href="~/fonts/IranSans/css/persianfonts.css" rel="stylesheet" />
    }
    else
    {

    }
</head>

<body>
    <div class="container navbarMenu">
        @await Component.InvokeAsync("StoreMenu")
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
