<div class="row" rn="@ViewBag.RowNumber">
    <div class="col-12 col-md-3" colNum="1"></div>
     <div class="col-12 col-md-3" colNum="2"></div>
      <div class="col-12 col-md-3" colNum="3"></div>
       <div class="col-12 col-md-3" colNum="4"></div>
</div>