@using Arad.Portal.GeneralLibrary.Utilities;
@using Microsoft.Extensions.Configuration
@using Arad.Portal.DataLayer.Contracts.General.BasicData;
@inject IConfiguration Config
@inject IBasicDataRepository _basicRepo
@{
    var baseAdd = Config["BaseAddress"];

    var supportedCultures = _basicRepo.GetList("SupportedCultures", false);
    List<Tuple<string, string, string>> countryCodes = new List<Tuple<string, string, string>>();
    foreach (var item in supportedCultures)
    {
        var cultureInfo = new CultureInfo(item.Text);
        var regionInfo = new RegionInfo(cultureInfo.LCID);
        countryCodes.Add(new(item.Text, regionInfo.TwoLetterISORegionName, cultureInfo.DisplayName));

    }
}
<div class="col-4 col-md-2 col-lg-1 ">
    <div class="ms-2">
        <ul class="langUl list-group list-group-horizontal">
            @foreach (var code in countryCodes)
            {
                <li class="list-group-item lan border-0 pt-2 px-1">
                    <a title="@code.Item3" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        @* <img src="@Url.Content($"~/imgs/IRAN.png")" onclick="setLang('fa-IR')" />*@
                        <span class="flagIcon fi fi-@(code.Item2.ToLower())" onclick="setLang('@code.Item1')"></span>
                    </a>
                </li>
            }

        </ul>
    </div>
</div>