@using Arad.Portal.GeneralLibrary.Utilities;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@{
      var baseAdd = Config["BaseAddress"];
}
<div class="col-4 col-md-2 col-lg-1 ">
    <div class="ms-2">
        <ul class="langUl list-group list-group-horizontal">
            <li class="list-group-item lan border-0 pt-2 px-1">
                <a title="@Language.GetString("Persian")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <img src="@Url.Content($"~{baseAdd}/imgs/IRAN.png")" onclick="setLang('fa-IR')" />
                </a>
            </li>
            <li class="list-group-item lan border-0 pt-2 px-1">
                <a title="@Language.GetString("English")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <img src="@Url.Content($"~{baseAdd}/imgs/USA.png")" onclick="setLang('en-US')" />
                </a>
            </li>
        </ul>
    </div>
</div>