img {
    border-radius: 0.65rem !important;
}

.row {
    min-height: 300px;
}

/*sm*/
@media ( max-width: 767px ) {
    .imgBig {
        width: 100%;
        height: 100%
    }

    .imgSmall {
        width: 49%;
        /*height: 49%;*/
    }
}
/*md*/
@media (min-width : 768px) {
    .imgBig {
        width: 100%;
        height: 100%;
    }

    .imgSmall {
        width: 100%;
        height: 50%;
    }
}
/*lg*/
@media (min-width : 992px) {
    .imgBig {
        width: 100%;
        height: 100%;
    }

    .imgSmall {
        width: 100%;
        height: 50%;
    }
}