@using Arad.Portal.GeneralLibrary.Utilities;
@model Arad.Portal.DataLayer.Models.Permission.ListPermissions
@{
    Layout = null;
}


<ul >
    @foreach (var child in Model.Childrens)
    {
    <li data-value="@child.Id">
        @Language.GetString($"PermissionTitle_{child.Title}")
        @if (child.Childrens.Count != 0)
        {
            @await Component.InvokeAsync("InnerPermissions", child)
        }
        </li>
    }
</ul>

