.searchContainer {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.suggestion-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.suggestion-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  /*  border-bottom: 1px solid #d4d4d4;*/
}
div.suggestItem:hover {
    /*when hovering an item:*/
    // background-color: #e9e9e9;
    color: blue;
}

.searchContainer-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
#txtSearch:focus {
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%) !important;
  }
