.hex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.hex-row {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Space between rows */
}

    .hex-row.offset {
        margin-left: 60px; /* Offset for staggered effect */
    }

.hex {
    position: relative;
    width: 100px; /* Adjust as needed */
    height: 115px; /* Adjust as needed */
    margin: 4px;
}

    .hex img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.hex-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
